#contentDiv{
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
    height: 800px;
}
#contentDiv>div{
    float: left;
}
#contentDiv>div>span{
    font-size: 15px;
}
.cont_subject{
    position: relative;
    padding: 5px 0 20px;
    border-bottom: 1px solid gray;
    width: 70%;
}
.brBtnDiv{
    position: absolute;
    top: 20px;
    right: 0;
}

.brBtnDiv span{
    display: inline-block;
    position: relative;
    content: '';
    border: 0.1px solid gray;
    height: 20px;
    top: 5px;
}

.brBtn{
    border: 0;
    background-color: transparent;
}
.cont_subject:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 2px;
    background: #55a799;
}
.title{
    width: 100%;
    font-size: 30px;
    padding-bottom: 10px;
}
.author{
    width: 10%;
    font-size: 15px;
    padding-right: 5px;
    border-right: 1px solid gray;
}
.content{
    margin: 0 auto;
    width: 100%;
    height: 60%;
    padding-top: 20px;
    
}
.date{
    width: 20%;
    padding-left: 5px;
    font-size: 15px;
}