#header{
  padding-bottom: 20px;
}
#boardHead{
  padding-left: 30px;
}
.boardDiv{
  width:728px;
  height: 200px;
}
.boardDiv ul{
  list-style: none;
  padding-left: 30px;
  margin: 0;
  width: 690px;
}
.boardDiv ul li{
  display: flex;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid grey;
  height: 30px;
}
.boardNo{
  width: 10%;
}
.boardTitle{
  width: 60%;
}
.boardAuthor{
  width: 10%;
}
.boardDate{
  width: 20%;
}
.boardWrDiv{
  height: 80%;
}
.boardWrDiv input{
  width: 100%;
  height: 100%;
}
.boardWrDiv textarea{
  width: 100%;
  height: 100%;
}
.titleDiv{
  width: 40%;
}
.subjectDiv{
  width: 80%;
  height: 500px;
}