.content{
    height: 60%;
}

#textDiv{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 50px;
}

.gridboxDiv{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.gridDiv{
    text-align: center;
}