.question-block th {
    border: 1px solid black;
    text-align: center;
}

.question-block td {
    border: 1px solid black;
}

.DESCRIPTION {
    background-color: #efefef;
}

.ANSWER {
    text-align: center;
}

.Inside {
    width: 100%;
    height: 100%;
}

.TestWidth {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 80%;
    height: 100%;
}

.testNum {
    font-size: 25px;
}

.testInsert {
    font-size: 20px;
    width: 80%;
}

.question-block {
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.AnswerBox {
    position: relative;
}

.AnswerCover {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: aquamarine;
}

.AnswerCoverOn {
    text-align: center;
    background-color: aquamarine;
}

.MIDDLE {
    display: flex; /* 플렉스박스를 활성화 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100%; /* 부모 컨테이너 높이 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.RELATIVE {
    position: relative;
}

.ABSOLUTE {
    position: absolute;
}

.LEFT {
    left: 0;
}

.RIGHT {
    right: 0;
}

.UP {
    top: 0;
}

.DOWN {
    bottom: 0;
}

.HALFQUAD {
    height: 50%;
    width: 50%;
}

.HORIZONTALRECTANGULAR
{
    height: 50%;
    width: 100%;
}

.CheckQuestion {
    width: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
}

/*
.AnswerBox {
    height: 100px;
}
*/

#testMainDiv {
    border: 0px solid black;
    width: 100%;
}

#testMainListDiv {
    border: 0px solid red;
    height: 100px;
}

#testMainTitleDiv {
    border: 0px solid green;
    height: 100px;
}

#testMainSubjectDiv {
    border: 0px solid yellow;
    height: 100px;
}

#testMainContentDiv {
    border: 0px solid blue;
    height: 100%;
}

#testMainSelectDiv {
    border: 0px solid tan;
    height: 100px;
}

#testMainFooterDiv {
    border: 0px solid coral;
    height: 150px;
}

#testMainListButtonDiv {
    border: 0px solid cyan;
}

#testMainTitleOnDiv {
    border: 0px solid purple;
}

#testMainSubjectSetDiv {
    border: 0px solid teal;
}

#testMainContentQuestionDiv {
    border: 0px solid magenta;
}

#testMainSelectPreDiv {
    border: 0px solid tomato;
}

#testMainFooterFinishDiv {
    border: 0px solid turquoise;
}

#testMainContentQuestionUpdateDiv {
    border: 0px solid black;
    height: 100%;
}

#question-block-pack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*
#test-TitleDiv {

}
*/

#testProgress {
    height: 100%;
    width: 100%;
}

#testMainContentQuestionUpdateDiv {
    display: inline-block;
    width: 80%;
    height:100%;
}

#checkCOrWDiv {
    display: inline-block;
    width: 20%;
    height:100%;
    position: sticky;
    top: 30px;
    overflow: auto;
    height: 150px;
}