.Inside {
    width: 100%;
    height: 100%;
}

.TestWidth {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 80%;
    height: 100%;
}

.testNum {
    font-size: 25px;
}

.testInsert {
    font-size: 20px;
}

.question-block {
    width: calc(50% - 10px);
    box-sizing: border-box;
}


#testMainDiv {
    border: 1px solid black;
    width: 100%;
}

#testMainListDiv {
    border: 1px solid red;
    height: 100px;
}

#testMainTitleDiv {
    border: 1px solid green;
    height: 100px;
}

#testMainSubjectDiv {
    border: 1px solid yellow;
    height: 100px;
}

#testMainContentDiv {
    border: 1px solid blue;
    height: 100%;
}

#testMainSelectDiv {
    border: 1px solid tan;
    height: 100px;
}

#testMainFooterDiv {
    border: 1px solid coral;
    height: 100px;
}

#testMainListButtonDiv {
    border: 1px solid cyan;
}

#testMainTitleOnDiv {
    border: 1px solid purple;
}

#testMainSubjectSetDiv {
    border: 1px solid teal;
}

#testMainContentQuestionDiv {
    border: 1px solid magenta;
}

#testMainSelectPreDiv {
    border: 1px solid tomato;
}

#testMainFooterFinishDiv {
    border: 1px solid turquoise;
}

#testMainContentQuestionUpdateDiv {
    border: 1px solid black;
    height: 100%;
}

#question-block-pack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}